commands:
  command0:
    command: gpg --keyserver hkp://pool.sks-keyservers.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3 7D2BAF1CF37B13E2069D6956105BD0E739499BDB
  command1:
    command: curl -sSL https://get.rvm.io | bash -s -- --version "1.29.7" --ruby="2.6.0"
  command2:
    command: unset GEM_HOME
  command3:
    command: source /etc/profile.d/rvm.sh
  command4:
    command: rvm install ruby 2.6.0
  command5:
    command: rvm use 2.6.0 --default
  command6:
    command: gem install rails
  command7:
    command: bundle install

