commands:
  command1:
    command: curl -sSL https://get.rvm.io | bash -s stable --ruby
  command2:
    command: unset GEM_HOME
  command3:
    command:  source /home/ec2-user/.rvm/scripts/rvm
  command4:
    command: rvm install ruby 2.6.1
  command5:
    command: rvm use 2.6.1 --default
  command6:
    command: gem install rails
  command7:
    command: bundle install

