<h1>Locations</h1>
<% @locations.each do |location| %>
<ul>
    <li>
        <%= link_to(location.name, location) %>,  Availability: <%= location.remaining_capacity%>/<%=location.capacity%>
    </li>
</ul>
<% end %>
